.card2a{
    margin-top: 0px;
}
.card2{
    border-top: 2px solid red;
}
.card2a{
    border-top: 2px solid darkorange;
    /*position: relative;*/
}
.card2, .card2a{
    box-shadow: 2px 5px whitesmoke;
    height: 220px;
    width: 100%;
    
}
.card2 img, .card2a img{
    float: right;
    margin-top: 35px;
    margin-right: 25px;

    }


@media (min-width:768px){
    .card2{
        border-top: 2px solid red;   
    }
    .card2a{
        border-top: 2px solid darkorange;
        /*position: relative;*/
        top: 25px;
    }
    .card2, .card2a{
        box-shadow: 2px 5px whitesmoke;
        height: 60%;
        width: 95%;
        margin-right: 20px;
    }
    
    .card2 img, .card2a img{
        float: right;
        margin-top: 35px;
        margin-right: 25px;
    
        }
  }




    
