.card1{
    margin-top: 15px;
    border-top: 2px solid lightseagreen;
    background-color: white;
    box-shadow: 2px 5px whitesmoke; 
    height: 100%;
    width: 100%;
}
.card1 img{
    float: right;
    margin-top: 35px;
    margin-right: 25px;
    margin-bottom: 5px;

}

@media (min-width:768px){
    .card1{
        border-top: 2px solid lightseagreen;
        background-color: white;
        box-shadow: 2px 5px whitesmoke; 
        height: 100%;
        width: 25%;
        margin-top: 150px;
        margin-right: 20px;
    }
    .card1 img{
        float: right;
        margin-top: 35px;
        margin-right: 25px;
        margin-bottom: 30px;
    
    }
  }



