.card3{
    margin-top: 5px;
    border-top: 2px solid blue;
    box-shadow: 2px 5px whitesmoke;
    height: 255px;
    width: 300px;
}
.card3 img{
    float: right;
    margin-top: 35px;
    margin-right: 25px;

}

@media (min-width:768px){
    .card3{
        border-top: 2px solid blue;
        box-shadow: 2px 5px whitesmoke;
        height: 255px;
        width: 300px;
        margin-top: 150px;
    
       
    
    }
    .card3 img{
        float: right;
        margin-top: 35px;
        margin-right: 25px;
    
    }
  }


